@tailwind base;
@tailwind components;
@tailwind utilities;



* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    min-height: 100vh;
    min-width: 400px;
    background-color: rgb(54, 57, 63);
    margin: 0 auto; 
    overflow-x: hidden;
    position: relative;
}

ul {
    background-color: rgb(54, 57, 63);
}